<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.musicalstructure">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GoldroomActivity"
            android:label="Goldroom Station"/>
        <activity android:name=".NoraEnPureActivity"
            android:label="Nora En Pure Station"/>
        <activity android:name=".OdeszaActivity"
            android:label="Odesza Station"/>
        <activity android:name=".KygoActivity"
            android:label="Kygo Station"/>
        <activity android:name=".SatinJacketsActivity"
            android:label="Satin Jackets Station"/>
        <activity android:name=".RufusDuSolActivity"
            android:label="Rufus Du Sol Station"/>
        <activity android:name=".TychoActivity"
            android:label="Tycho Station"/>
        <activity android:name=".BrowseActivity"
            android:label="Browse Genres">
        </activity>
    </application>

</manifest>